.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 2.25rem;
    padding: 2em;
}

.hero-container > h1 {
    margin-block: 0px;
}

.toolbar-container {
    display: flex;
    flex-direction: row;
    padding: 1.75em;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}

.logo-container > div > img {
    width: 58px;
}

.logo-container > div > p {
    margin-block: 0em;
}

.toolbar-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-item {
    padding-inline: 1em;
    margin-inline: 0.5em;
    padding-block: 1em;
    background-color: #F2F2F2;
    border-radius: 1em;
}

.toolbar-item > p {
    margin-block: 0px;
}

.spacer {
    flex-grow: 1;
}

/* Download Button */
.download-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    gap: 1em;
    background-color: black;
    color: white;
    width: fit-content;
    align-self: center;
    padding-inline: 1.5em;
    border-radius: 1em;
    margin-top: 2em;
    box-shadow: 0.5em 0.75em 1em rgba(128, 128, 128, 0.5);
}

.download-button-container > div > img {
    filter: invert(100%);
    width: 24px;
}