@font-face {
    font-family: SF Pro Display Bold;
    src: url("./fonts/SF\ Pro/SF-Pro-Display-Bold.otf");
    font-display: swap;
}

* {
    font-family: SF Pro Display Bold;
}

.primary-accent {
    color: #CE394A;
}

.secondary-accent {
    color: #2EA1C9;
}